var Discordie = require("discordie");
var client = new Discordie();

client.connect({
  // replace this sample token
  token: "MYMzNDIzT1NjEkN5MTgT3zEz.djCoWw.rShRcJvCcmKI1hOTlJQ4lnWKMZQ"
});

client.Dispatcher.on("GATEWAY_READY", e => {
  console.log("Connected as: " + client.User.username);
});

client.Dispatcher.on("MESSAGE_CREATE", e => {
  if (e.message.content == "ping")
    e.message.channel.sendMessage("pong");
});
